<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue">Book a Flight</h1>
            </div>

        </div>
    </div>

    <form action="/flight/book" method="post">
        <div class="row">


            <div class="from-group col-md-4">
                <label class="col-form-label" for="departureAirport">From</label>
                <select class="form-control" id="departureAirport" name="departureAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="from-group col-md-4">
                <label class="col-form-label" for="destinationAirport">To</label>
                <span th:if="${AirportError!=null}" th:text="${AirportError}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="destinationAirport" name="destinationAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="departureTime">Departure Time</label>
                <input type="date" class="form-control" placeholder="" id="departureTime"
                       name="departureTime" required>
            </div>


            <div class="form-group col-12">
                <button type="submit" class="btn btn-success" style="float: right">Search</button>
            </div>

        </div>
    </form>
    <div class="row">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">No Record Found!</p>
            </div>
        </th:block>
        <th:block th:if="${flights}">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-6">
                    <h1 style="color: darkblue">Result </h1>
                </div>

            </div>
            <table class="table table-sm">
                <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">Flight Number</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">Flight Charge</th>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Available Seats</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="flight, iterStat:${flights}">
                    <tr style="background-color: #fdfdfd">
                        <th scope="row" th:text="${flight.flightId}">Dark</th>
                        <td th:text="${flight.flightNumber}"></td>
                        <td th:text="${flight.departureAirport.airportName}"></td>
                        <td th:text="${flight.destinationAirport.airportName}"></td>
                        <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                        <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                        <td th:text="${flight.flightCharge}"></td>
                        <td th:text="${flight.aircraft.model}"></td>
                        <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                        <td><a type="button" class="btn btn-primary btn-sm"
                               th:if="${flight.passengers.size()<flight.aircraft.numberOfSeats}"
                               th:href="@{/flight/book/new(flightId=${flight.flightId})}">Book</a></td>
                    </tr>
                </div>
                </tbody>
            </table>

        </th:block>

    </div>


</th:block>
</body>
</html>