<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
            <h1 style="color: darkblue">Confirmation Page</h1>
        </div>
    </div>
    <h1>Aero Travel</h1>
    <hr>
    <div style="background-color: yellow; padding: 10px">
        <h3>Flight Id: <span th:text="${passenger.flight.flightId}"></span></h3>
        <h3>Passenger Id: <span th:text="${passenger.passengerId}"></span></h3>
    </div>
    <hr>
    <h3>Customer Info</h3>
    <table class="table table-hover">
        <thead>
        <tr class="table-active">
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Passport Number</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="airport, iterStat:${passenger}">
            <tr style="background-color: #fdfdfd">
                <th scope="row" th:text="${passenger.passengerId}">Dark</th>
                <td th:text="${passenger.firstName}"></td>
                <td th:text="${passenger.lastName}"></td>
                <td th:text="${passenger.phoneNumber}"></td>
                <td th:text="${passenger.passportNumber}"></td>
                <td th:text="${passenger.email}"></td>
        </div>
        </tbody>
    </table>
    <hr>
    <h3>Flight Info</h3>
    <table class="table table-sm">
        <thead>
        <tr class="table-active">
            <th scope="col">Flight Number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Flight Charge</th>
            <th scope="col">Aircraft</th>
        </tr>
        </thead>
        <tbody>

        <tr style="background-color: #fdfdfd">

            <td th:text="${passenger.flight.flightNumber}"></td>
            <td th:text="${passenger.flight.departureAirport.airportName}"></td>
            <td th:text="${passenger.flight.destinationAirport.airportName}"></td>
            <td th:text="${passenger.flight.departureDate+' '+passenger.flight.departureTime}"></td>
            <td th:text="${passenger.flight.arrivalDate+' '+passenger.flight.arrivalTime}"></td>
            <td th:text="${passenger.flight.flightCharge}"></td>
            <td th:text="${passenger.flight.aircraft.model}"></td>
        </tr>

        </tbody>
    </table>

</th:block>
</body>
</html>