<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aero Travel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="/css/bootstrap.css" media="screen">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style type="text/css"></style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 20px">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/aero-ico.png" height="25">
            FTB
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/flight/search">Search Flight</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/flight/book/verify">Verify Booking</a>
                </li>


            </ul>

            <div>
                <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">


    <h2>Welcome to Aero Travel website!</h2>
    <p>
        <b>Aero Travels</b> is an airline reservation company.
    </p>
    <p>
        It has numbers of branches spread across the world. A person who wants to reserve a flight ticket must contact
        any of the nearest Aero Travels branch. The Aero Travels manages flight operations manually, but as its
        customers grow in number, managing flight operations manually becomes difficult and time consuming. So, it would
        be better to use an automated system.
        The Flight Ticket Booking (FTB) provides a solution for online flight ticket booking. It will have
        functionalities like schedule flights, search flight, book flight for customers, and verify flight ticket. The
        system should be convenient and user-friendly.
    </p>
    <p>
        The users include:
    </p>
    <ul>
        <li>Admin who can add flight, cancel flight, add aircraft, remove aircraft, and add airport.</li>
        <li>Travel Agents who can search flight, book flight or cancel reservation for customer.</li>
        <li>Customers who can search flights and verify their ticket in the system.</li>
    </ul>
    <p>
        Customer information include first name, last name, Date of birth, gender, phone number, and address.
        An airport has numbers of aircrafts. An aircraft has an id, manufacturer, model, and type. A flight has an
        aircraft, flight number, departure time, departure airport, arrival airport, and arrival time, and flight
        charge. A flight also has a list of passengers(customers) which is booked a ticked for that flight.
    </p>
    <img src="/img/airplane.jpg">

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
</html>