<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">

    <h2>Welcome to Aero Travel website!</h2>
    <p>
        Aero Travels is an airline reservation company. It has numbers of branches spread across the world. A person who wants to reserve a flight ticket must contact any of the nearest Aero Travels branch. The Aero Travels manages flight operations manually, but as its customers grow in number, managing flight operations manually becomes difficult and time consuming. So, it would be better to use an automated system.
        The Flight Ticket Booking (FTB) provides a solution for online flight ticket booking. It will have functionalities like schedule flights, search flight, book flight for customers, and verify flight ticket. The system should be convenient and user-friendly.

        The users include:
        1.     Admin who can add flight, cancel flight, add aircraft, remove aircraft, and add airport.
        2.     Travel Agents who can search flight, book flight or cancel reservation for customer.
        3.     Customers who can search flights and verify their ticket in the system.

        Customer information include first name, last name, Date of birth, gender, phone number, and address.

        An airport has numbers of aircrafts. An aircraft has an id, manufacturer, model, and type. A flight has an aircraft, flight number, departure time, departure airport, arrival airport, and arrival time, and flight charge. A flight also has a list of passengers(customers) which is booked a ticked for that flight.

    </p>
</th:block>
</body>
</html>