<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue">Schedule a Flight </h1>
            </div>

        </div>
    </div>

    <form action="/flight/new" method="post" th:object="${flight}">
        <div class="row">


            <div class="from-group col-md-4">
                <label class="col-form-label" for="aircraft">Aircraft</label>
                <span th:if="${#fields.hasErrors('aircraft')}" th:errors="*{aircraft}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="aircraft" name="aircraft">
                    <option th:each="a, i:${aircrafts}" th:text="${a.model}"
                            th:value="${a.aircraftId}">
                    </option>
                </select>
            </div>


            <div class="from-group col-md-4">
                <label class="col-form-label" for="departureAirport">Departure Airport</label>
                <span th:if="${#fields.hasErrors('departureAirport')}" th:errors="*{departureAirport}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="departureAirport" name="departureAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="from-group col-md-4">
                <label class="col-form-label" for="destinationAirport">Destination Airport</label>
                <span th:if="${#fields.hasErrors('destinationAirport')}" th:errors="*{destinationAirport}"
                      class="badge badge-danger"></span>
                <span th:if="${sameAirportError!=null}" th:text="${sameAirportError}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="destinationAirport" name="destinationAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="departureDate">Departure Date</label>
                <span th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"
                      class="badge badge-danger"></span>
                <input type="date" class="form-control" id="departureDate"
                       name="departureDate" th:value="${flight.departureDate}" required>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="departureTime">Departure Time</label>
                <span th:if="${#fields.hasErrors('departureTime')}" th:errors="*{departureTime}"
                      class="badge badge-danger"></span>
                <input type="time" class="form-control" id="departureTime"
                       name="departureTime">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="arrivalDate">Arrival Date</label>
                <span th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"
                      class="badge badge-danger"></span>
                <input type="date" class="form-control" id="arrivalDate"
                       name="arrivalDate" th:value="${flight.arrivalDate}" required>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="arrivalTime">Arrival Time</label>
                <span th:if="${#fields.hasErrors('arrivalTime')}" th:errors="*{arrivalTime}"
                      class="badge badge-danger"></span>
                <input type="time" class="form-control" id="arrivalTime"
                       name="arrivalTime">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="flightNumber">Flight Number</label>
                <span th:if="${#fields.hasErrors('flightNumber')}" th:errors="*{flightNumber}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="flightNumber"
                       name="flightNumber" th:value="${flight.flightNumber}" required>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="flightCharge">Flight Charge</label>
                <span th:if="${#fields.hasErrors('flightCharge')}" th:errors="*{flightCharge}"
                      class="badge badge-danger"></span>
                <input type="double" class="form-control" placeholder="" id="flightCharge"
                       name="flightCharge" th:value="${flight.flightCharge}" required>
            </div>


            <div class="form-group col-12">
                <button type="submit" class="btn btn-success" style="float: right">Save</button>
            </div>

        </div>
    </form>

</th:block>
</body>
</html>